{% extends "base.html" %} {% import "macros.html" as macros %} {% block content
%}

<h1>
    {{ page.title }}<br />
    {% if page.date %}
    <small>({{ page.date }})</small>
    {% endif %}
    <small>[{{ page.extra.kind }}]</small>
</h1>

{{ page.content | replace(from="<!-- toc -->", to=macros::toc(page=page)) | safe
}}

<nav class="post-nav" aria-label="Post navigation">
    {% if page.higher %}
    <div class="post-nav-left">
        <a class="post-nav-link" href="{{ page.higher.permalink }}"
            >← {{ page.higher.title }}</a
        >
    </div>
    {% endif %} {% if page.lower %}
    <div class="post-nav-right">
        <a class="post-nav-link" href="{{ page.lower.permalink }}"
            >{{ page.lower.title }} →</a
        >
    </div>
    {% endif %}
</nav>

<div style="display: none" class="h-entry">
    <div class="e-content p-name">{{ page.title }}</div>
    <a rel="author" class="p-author h-card" href="https://jan.systems">
        <img
            class="u-photo"
            src="https://jan.systems/files/Jan_Tuomi_headshot.jpg"
            loading="lazy"
        />
        Jan Tuomi
    </a>
    <a class="u-url" href="https://jan.systems/{{ page.path }}">
        Published <time class="dt-published">{{ page.date }}</time>
    </a>
</div>
{% endblock %}
